html {
    overflow-x: hidden;
}

.width-100 .mud-toolbar.mud-toolbar-gutters.mud-toolbar-appbar {
    display: table;
    height: 100%;
    padding: 0;
}

.tabsItem .mud-tooltip-root.mud-tooltip-inline  {
    color: black;
}

.tabs .mud-tabs-toolbar-wrapper.mud-tabs-centered {

    width: 100%;
}

.tabs .mud-tabs-toolbar.mud-tabs-rounded.mud-elevation-4 .mud-tooltip-root.mud-tooltip-inline {
    width: 33%;
}


.text-size-6 {
    font-size: 12px;
    min-width: 33%;
}

.tabs-in-info .mud-tabs-toolbar-wrapper .mud-tooltip-root.mud-tooltip-inline {
    width: 50%;
}

.tabs-in-info .mud-tabs-toolbar-wrapper{
    width: 100%;
}

.card-create-release {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    white-space: nowrap;
    background: #D1D1D1;
    z-index: 10;
}

.paper-create-release {
    width: 100%;
    height: 91vh;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.paper-edit-release {
    width: 100%; 
    height: 95vh;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    overflow: hidden;
}

.card-edit-release {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    white-space: nowrap;
    background: #D1D1D1;
    z-index: 10;
}

.tabs-in-info .mud-tabs-panels {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.tooltip-date{
    width: fit-content;
}

.tooltip-comment .mud-tooltip-root.mud-tooltip-inline {
    width: auto;
}