#start_spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 2px solid transparent;
    border-top-color: #000000;
    border-radius: 50%;
    -webkit-animation: spin10_y 2s linear infinite;
    animation: spin10_y 2s linear infinite;
}

#start_spinner:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #000000;
    -webkit-animation: spin10_x 3s linear infinite;
    animation: spin10_x 3s linear infinite;
}

#start_spinner:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #000000;
    -webkit-animation: spin10_x 1.5s linear infinite;
    animation: spin10_x 1.5s linear infinite;
}

@-webkit-keyframes spin10_x {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

@keyframes spin10_x {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

@-webkit-keyframes spin10_y {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin10_y {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}